.app {
  font-family: helvetica, arial, sans-serif;
  line-height: 200%;
}

.input {
  width: 80%;
  margin: auto;
}

.DropDown {
  display: inline-block;
  text-align: left;
  padding: 50px;
}

.createButton {
  display: inline-block;
  margin: 50px;
}

.table {
  width: 80%;
  margin: auto;
  padding: 50px;

  table {
    th, tr, td {
      text-align: center !important;
    }
  }
}
