.app {
  font-family: helvetica, arial, sans-serif;
  line-height: 200%;
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 0px 50px 50px;

    table {
      th, tr, td {
        text-align: center !important;
      }

      td {
        overflow: visible !important;
      }
    }
  }

.container {
  display: inline-block;
  padding: 40px;
}

.textField {
  float: left;
}

.raisedButton {
  display: inline-block;
  padding-top: 40px;
}
