.app {
  width: 80%;
  margin: auto;
  padding: 0px 50px 50px;
  display: inline-table;

  table {
    th, tr, td {
      text-align: center !important;
    }
    td {
      overflow: visible !important;
    }
  }
}

.container {
  display: inline-flex;
}

.selectField {
  text-align: left;
}
