.app {
  font-family: helvetica, arial, sans-serif;
  line-height: 200%;;
  background-color: #F8F8F8;
  min-height: 100vh;
  padding-top: 150px;
  margin: auto;
  text-align: center;
}

.container {
  display: inline-flex;
}
