.app {
  width: 80%;
  margin: auto;
  padding: 40px 50px;

  table {
    overflow: hidden !important;
    th, tr, td {
      text-align: center !important;
    }

    td {
      overflow: visible !important;
    }
  }
}

.dialog {
  .highlight {
    margin-left: 10px;
    margin-right: 10px;
    color: #FF1744;
  }
}
